body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero-code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/*Custom Text*/
.custom-text {
  font-style: italic;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}